.body{
	box-sizing: border-box;
	height: 100px;
}

.jumbotron{
	background-image: url(../images/parking-meter-1920a.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 25px 75px 100px 75px;
	color: white;
 }
.city-img:hover{
  opacity: .8;
}
 
.navbar-inverse{ 
	color:white;
	 }

.play {
	text-align: center;
	width: 100%;
}

.textarea {
	width: 100%;
	border-radius: 4px;
	height:30px;
}
#addData {
	margin-top: 20px;
}
#events{
  height: 85vh;
  overflow-x: auto;
}
.error-message {
	color: red;
}

.homepageMiddle{
	margin-top: 10px;
	margin-bottom: 10px;
}

.siteCopy {
	color: #5B6575;
}
/* css below is for the user page only */
.panel-primary {
	text-align: center;
	margin-top: 0px;
}
.header {
	background-image: url(../images/parking-meter-1920a.jpg);
    background-repeat: no-repeat;
    color: white;
    margin: 5px;
}
body{
	background-color: #D9E3F4;
}
#map-container{
  height: 100%;
}

#map {
  height: 85vh;
  width: 100%;
}

::-webkit-scrollbar {
    width: .5em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
