body{
	background-color: #D9E3F4;
}
.modal-header,
.modal-footer {
	border: 0;
	text-align: center;
}
.modal-footer {
	padding-bottom: 10%
}
.modal-title {
	color: white;
	font-size: 40px;
	padding-top: none;
}
.modal-header {
	margin-top: 5%;
	padding: none;
}
.modal-align {
	text-align: center;
}
.modal-content {
	background-color: #5bc0de;
}
.input-group {
	margin: 5%;
	margin-left: 10%;
	width: 80%;
}

.cancel {
	background-color: #3b5998;
	color:white;
}
.post-button {
	background-color: #f67c37;
	color: white;
}
.report-label {
	color: white;
	font-size: 20px;
}
#price {
	margin-top: none;
}

#textbox  {
	font-size: 20px;
	border-radius: 8px;
	-moz-border-radius: 15px;
}
#comments {
	height: 100px;
}

#map {
	width: 100%; 
	height: 200px;
}
.map-container {
	
}
